
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cabin' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(48, 48, 53, 0.4);
  background-image: url('./images/background.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
